**/target/
*.iml
.classpath
.idea
.project
.settings
bom-dependency-versions.txt
lvv-service-spec/spec-validation-output.txt
abandoned/
bin/
generated-srcs/
out/
.DS_Store
kqt.log
violations
**/lvv-service-python-client/src/lvv_service_python_client
lvv-service-canary/secret

.vscode/**
bldenv/
input_ocibuild/
output_ocibuild_compilesource/
output_ocibuild_dockerize_api/
output_ocibuild_dockerize_worker/
lvv-service-api/src/main/resources/jira-sd-test-password
lvv-service-api/src/main/resources/jira-sd-test-username
lvv-service-python-client/lvv_service_client.egg-info/
lvv-service-python-client/build/

**/.terraform
**/*.tfstate
**/*.tfstate.backup
