**/target/
*.iml
.classpath
.idea
.project
.settings
bom-dependency-versions.txt
lvv-service-spec/spec-validation-output.txt
abandoned/
bin/
generated-srcs/
out/
.DS_Store
kqt.log
violations
**/lvv-service-python-client/src/lvv_service_python_client
lvv-service-canary/secret

bldenv/
input_ocibuild/
output_ocibuild_compilesource/
output_ocibuild_dockerize_api/
output_ocibuild_dockerize_worker/

**/.terraform
**/*.tfstate
**/*.tfstate.backup
